.search {
  flex: 1;
}

.input {
  width: auto;
  width: min(350px, 60dvw);
  min-width: 175px !important;
  max-width: 350px;
  margin: 10px auto;
  

  & > * {
    text-align: center !important;
    color: #9e9e9e;
    padding: 14px;
    font-size: 18px !important;
  }
}

.componentSearch {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin: 10px 0;
  max-height: calc(100dvh - 28dvh);
  overflow: auto;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
}
